* {
  margin: 0px;
  padding: 0px;
}

body, html {
  height: 100%;
}

body{
  background:url(https://hdqwalls.com/download/material-grey-light-4k-jv-1360x768.jpg) fixed;
}

nav.navbar{
  background-color: #000000;
  opacity: 0.5;
}

ul.navbar-nav.align-items-center{
  height: 65px;;
}

/* Logo */

/* // Small devices (landscape phones, 200px and up) */
@media (min-width: 200px) {
  a.navbar-brand{
    display: none;
  }
}

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  a.navbar-brand{
    display: none;
  }
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  a.navbar-brand{
    display: none;
  }
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  a.navbar-brand{
    padding: 0px;
    margin: 0;
    -webkit-transform: scale(0.6);
      -ms-transform: scale(0.6);
          transform: scale(0.6);
    display: inline;
  }
}

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  a.navbar-brand{
    padding: 0px;
    margin: 0;
    -webkit-transform: scale(0.8);
      -ms-transform: scale(0.8);
          transform: scale(0.8);
    display: inline;
  }
}

/* Form */
.has-error {
  color: yellow;
}

#remembermeLabel {
  padding-top: 5px;
  color: black;
}

#forgotpass {
  margin-left: 0px;
  padding-top: 5px;
  padding-bottom: 5px;
  color: slategrey;
}

.generic-container {
  width: 60%;
  margin-left: 210px;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 4px;
  -webkit-box-shadow: 0 0 30px black;
          box-shadow: 0 0 30px black;
  background-color: white;
}

.cardAdd {
  padding-top: 10px;
  padding-left: 15px;
  border-radius: 8px;
  width: 30%;
}

.addButton {
  margin-top: 3px;
}

#sendAllButton {
  margin-left: 900px;
  margin-top: -100px;
}

.error404 {
  position: relative;
  color: red;
  text-align: center;
}


/* ================ page Home =================== */

li.list-group-item{
  margin-top: 5px;
  -webkit-box-shadow: 0px 0px 5px rgb(51, 51, 51);
          box-shadow: 0px 0px 5px rgb(51, 51, 51);
	-webkit-box-shadow: 0px 0px 5px rgba(51, 51, 51, 0.7);
	        box-shadow: 0px 0px 5px rgba(51, 51, 51, 0.7);
  padding: 50px;
  cursor: pointer;
}

.input-list{
  text-transform: uppercase;
}

.list-group{
  opacity: 0.8;
}

.list-group:hover{
  opacity: 1.0;
  -webkit-transition: all .1s ease .1s;
  -o-transition: all .1s ease .1s;
  transition: all .1s ease .1s;
}

li.list-group-item{
  padding: 8px 8px;
  background: #F5F5F5;
  min-height: 102px;
}

li.list-group-item:first-child{
  background: #9359ff;
  padding: 20px 8px 20px 20px;
}

li.list-group-item:last-child{
  background: #10b201;
  padding: 20px 8px 20px 20px;
  color: white;
  min-height: 60px;
  margin-bottom: 20px;
}

/* Checkbox task*/
@-webkit-keyframes check {
  0% {
    height: 0;
    width: 0;
  }
  25% {
    height: 0;
    width: 10px;
  }
  50% {
    height: 20px;
    width: 10px;
  }
}
@keyframes check {
  0% {
    height: 0;
    width: 0;
  }
  25% {
    height: 0;
    width: 10px;
  }
  50% {
    height: 20px;
    width: 10px;
  }
}

.checkbox {
  background-color: #fff;
  height: 28px;
  margin: 0 .25em;
  width: 28px;
  border-radius: 4px;
  border: 1px solid #ccc;
  cursor: pointer;
}

.checkbox span {
  display: block;
  height: 28px;
  position: relative;
  width: 28px;
  padding: 0
}

.checkbox span:after {
  -ms-transform: scaleX(-1) rotate(135deg);
  -webkit-transform: scaleX(-1) rotate(135deg);
  transform: scaleX(-1) rotate(135deg);
  -ms-transform-origin: left top;
  -webkit-transform-origin: left top;
  transform-origin: left top;
  border-right: 4px solid #fff;
  border-top: 4px solid #fff;
  content: '';
  display: block;
  height: 20px;
  left: 3px;
  position: absolute;
  top: 15px;
  width: 10px
}

.checkbox span:hover:after {
  border-color: #999
}

.checkbox input {
  display: none
}

.checkbox input:checked + span:after {
  -webkit-animation: check .8s;
  animation: check .8s;
  border-color: #555
}

.checkbox input:checked + .default:after {
  border-color: #444
}

.checkbox input:checked + .primary:after {
  border-color: #2196F3
}

.checkbox input:checked + .success:after {
  border-color: #8bc34a
}

.checkbox input:checked + .info:after {
  border-color: #3de0f5
}

.checkbox input:checked + .warning:after {
  border-color: #FFC107
}

.checkbox input:checked + .danger:after {
  border-color: #f44336
}

/* Task buttons */
#dropdownMenuButton:first-child{
  background-color: #0000ff;
  border: none;
  color: white;
  padding: 8px 13px;
  font-size: 16px;
  cursor: pointer;
  -webkit-transform: scale(0.8);
      -ms-transform: scale(0.8);
          transform: scale(0.8);
  margin: 0px;
  -webkit-transition:all .3s ease .2s;
  -o-transition:all .3s ease .2s;
  transition:all .3s ease .2s;
}

#dropdownMenuButton:first-child:hover{
  color:#fff;
  -webkit-transform: scale(0.6);
      -ms-transform: scale(0.6);
          transform: scale(0.6);
  -webkit-box-shadow:0 0 10px rgb(36, 0, 136) inset,0 0 0 3px #fff;
          box-shadow:0 0 10px rgb(36, 0, 136) inset,0 0 0 3px #fff;
  -webkit-transition:all .3s ease .2s;
  -o-transition:all .3s ease .2s;
  transition:all .3s ease .2s;
}

div.dropdown-menu{
  border-radius: 10px;
  background-color: #ffffff;
  -webkit-transition: all .1s ease .1s;
  -o-transition: all .1s ease .1s;
  transition: all .1s ease .1s;
}

div.dropdown-menu a{
  color: #000;
}

div.dropdown-menu a:first-child:hover{
  background-color: #a2a2fc;
}

div.dropdown-menu a:nth-child(2):hover{
  background-color: #fca2a2;
}

.dropdown-menu.show{
  z-index: 3;
}

.dropdown-menu.show:hover{
  z-index: 3;
}

.button-group{
  padding: 0;
  margin: 0;
  left: 8px;
}

.task{
  padding: 0px;
  margin-top: 3px;
  text-align: justify;
}

.button-close:hover, .button-edit:hover  {
    opacity: 1;
    color: white;
    -webkit-transform: scale(0.7);
        -ms-transform: scale(0.7);
            transform: scale(0.7);
}

.add-list{
  border-radius: 3%;
  height: 100px;
  color: white;
  background-color: #10b201;
  cursor: pointer;
  text-align: center;
  padding-top: 35px;
  width: 50%;
  opacity: 0.8;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  -webkit-box-shadow: 0px 0px 5px rgb(51, 51, 51);
          box-shadow: 0px 0px 5px rgb(51, 51, 51);
	-webkit-box-shadow: 0px 0px 5px rgba(51, 51, 51, 0.7);
	        box-shadow: 0px 0px 5px rgba(51, 51, 51, 0.7);
}

.add-list:hover{
  opacity: 1.0;
  -webkit-transition: all .1s ease .1s;
  -o-transition: all .1s ease .1s;
  transition: all .1s ease .1s;
}

p.task, h5.task{
  word-wrap: break-word;
  white-space: -moz-pre-wrap;
  white-space: pre-wrap;
}
h5.task{
  text-transform: uppercase;
}

.ui-group-buttons .or {
  position: relative;
  float: left;
  width: .3em;
  height: 1.3em;
  z-index: 3;
  font-size: 12px
}

.ui-group-buttons .or:before {
  position: absolute;
  top: 50%;
  left: 50%;
  content: 'or';
  background-color: #5a5a5a;
  margin-top: -.1em;
  margin-left: -.9em;
  width: 1.8em;
  height: 1.8em;
  line-height: 1.55;
  color: #fff;
  font-style: normal;
  font-weight: 400;
  text-align: center;
  border-radius: 500px;
  -webkit-box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1);
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box
}

.ui-group-buttons .or:after {
  position: absolute;
  top: 0;
  left: 0;
  content: ' ';
  width: .3em;
  height: 2.84em;
  background-color: rgba(0, 0, 0, 0);
  border-top: .6em solid #5a5a5a;
  border-bottom: .6em solid #5a5a5a
}

.ui-group-buttons .or.or-lg {
  height: 1.3em;
  font-size: 16px
}

.ui-group-buttons .or.or-lg:after {
  height: 2.85em
}

.ui-group-buttons .or.or-sm {
  height: 1em
}

.ui-group-buttons .or.or-sm:after {
  height: 2.5em
}

.ui-group-buttons .or.or-xs {
  height: .25em
}

.ui-group-buttons .or.or-xs:after {
  height: 1.84em;
  z-index: -1000
}

.ui-group-buttons {
  display: inline-block;
  vertical-align: middle
}

.ui-group-buttons:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden
}

.ui-group-buttons .btn {
  float: left;
  border-radius: 0
}

.ui-group-buttons .btn:first-child {
  margin-left: 0;
  border-top-left-radius: .25em;
  border-bottom-left-radius: .25em;
  padding-right: 15px
}

.ui-group-buttons .btn:last-child {
  border-top-right-radius: .25em;
  border-bottom-right-radius: .25em;
  padding-left: 15px
}

/* Task hover effect */
.box1:after, .box1:before{
  width:100%;
  -webkit-transition:all .3s ease 0s;
  -o-transition:all .3s ease 0s;
  transition:all .3s ease 0s;
}

.box1 .icon{
  text-align:center;
}

.box1:after, .box1:before{
  content:"";
}

.box1 .icon, .box1 .checkbox{
  margin:0;
  position:absolute;
}

.box1{
  overflow:hidden;
  -webkit-box-shadow:0 0 3px #0000004d;
          box-shadow:0 0 3px #0000004d;
  position:relative;
  background-color: #e6e6e6;
}

.box1:after, .box1:before{
  height:50%;
  background:#24da0080;
  position:absolute;
  top:0;
  left:0;
  z-index:1;
  -webkit-transform-origin:100% 0;
      -ms-transform-origin:100% 0;
          transform-origin:100% 0;
  -webkit-transform:rotateZ(90deg);
      -ms-transform:rotate(90deg);
          transform:rotateZ(90deg);
}

.box1:after{
  top:auto;
  bottom:0;
  -webkit-transform-origin:0 100%;
      -ms-transform-origin:0 100%;
          transform-origin:0 100%;
}

.box1:hover:after, .box1:hover:before{
  -webkit-transform:rotateZ(0);
      -ms-transform:rotate(0);
          transform:rotateZ(0);
}

.box1 .icon{
  -webkit-transform: scale(1.0);
      -ms-transform: scale(1.0);
          transform: scale(1.0);
  padding:0px 0px;
  list-style:none;
  background:#249b00;
  border-radius:0 0 0 20px;
  top:-100%;right:0;
  z-index:2;
  -webkit-transition:all .3s ease .2s;
  -o-transition:all .3s ease .2s;
  transition:all .3s ease .2s;
}

.box1:hover .icon{
  top:0;
}

.box1 .icon li{
  display:block;
  margin:10px 0;
}

.box1 .icon li a{
  display:block;
  width:35px;
  height:35px;
  line-height:35px;
  border-radius:10px;
  font-size:18px;
  color:#fff;
  -webkit-transition:all .3s ease 0s;
  -o-transition:all .3s ease 0s;
  transition:all .3s ease 0s;
}

.box1 .icon li a.button-close:hover{
  color:#fff;
  -webkit-box-shadow:0 0 10px rgb(255, 0, 0) inset,0 0 0 3px #fff;
          box-shadow:0 0 10px rgb(255, 0, 0) inset,0 0 0 3px #fff;
}

.box1 .icon li a.button-edit:hover{
  color:#fff;
  -webkit-box-shadow:0 0 10px rgb(0, 0, 255) inset,0 0 0 3px #fff;
          box-shadow:0 0 10px rgb(0, 0, 255) inset,0 0 0 3px #fff;
}

.box1 .checkbox{
  color:#fff;
  opacity:1;
  -webkit-transition:all .5s ease .2s;
  -o-transition:all .5s ease .2s;
  transition:all .5s ease .2s;
}

.box1:hover .checkbox{
  z-index:4;
}

s{
  color: red;
}

/* ================ Header =================== */
nav.navbar.navbar-expand-lg.d-flex.flex-row{
  margin-bottom: 10px;
}

.userHeader>.nav-link {
  font-size: 20px;
}
nav.navbar{
  color: #007bff;
  position: relative;
  opacity: 0.8;
  padding: 0px;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

a.nav-link{
  cursor: pointer;
}

.navbar {
  z-index: 1001;
  opacity: 1;
}

div.collapse.navbar-collapse.d-flex.flex-row.justify-content-between:first-child{
  margin-left: 20px;
}

/* ================ Login =================== */

.login-wrap{
	width: 100%;
	margin:auto;
	max-width:510px;
	min-height:510px;
	position:relative;
	background:url(https://maxcdn.icons8.com/app/uploads/2016/03/material-1-1000x563.jpg) no-repeat center;
	background-size: cover;
  -webkit-box-shadow:0 12px 15px 0 rgba(0,0,0,.24),0 17px 50px 0 rgba(0,0,0,.19);
          box-shadow:0 12px 15px 0 rgba(0,0,0,.24),0 17px 50px 0 rgba(0,0,0,.19);
  margin-top: 40px;
}

.registration-wrap{
	width: 100%;
	margin:auto;
	max-width:510px;
	min-height:760px;
	position:relative;
	background:url(https://maxcdn.icons8.com/app/uploads/2016/03/material-1-1000x563.jpg) no-repeat center;
	background-size: cover;
  -webkit-box-shadow:0 12px 15px 0 rgba(0,0,0,.24),0 17px 50px 0 rgba(0,0,0,.19);
          box-shadow:0 12px 15px 0 rgba(0,0,0,.24),0 17px 50px 0 rgba(0,0,0,.19);
  margin-top: 40px;
  margin-bottom: 40px;
}

.login-html{
	width:100%;
	height:100%;
	position:absolute;
	padding:90px 70px 50px 70px;
	background:rgba(0,0,0,0.5);
}

.login-html .sign-in-htm,
.login-html .for-pwd-htm{
	top:0;
	left:0;
	right:0;
	bottom:0;
	position:absolute;
	-webkit-transform:rotateY(180deg);
	        transform:rotateY(180deg);
	-webkit-backface-visibility:hidden;
	        backface-visibility:hidden;
	-webkit-transition:all .4s linear;
	-o-transition:all .4s linear;
	transition:all .4s linear;
}

.login-html .sign-in,
.login-html .for-pwd,
.login-form .group .check{
	display:none;
}

.login-html .tab,
.login-form .group .label,
.login-form .group .button{
	text-transform:uppercase;
}

.login-html label.tab:hover, div.group input.button:hover{
  cursor: pointer;
}

.login-html .tab{
	font-size:22px;
	margin-right:15px;
	padding-bottom:5px;
	margin:0 15px 10px 0;
	display:inline-block;
	border-bottom:2px solid transparent;
}

.login-html .sign-in:checked + .tab,
.login-html .for-pwd:checked + .tab{
	color:#fff;
	border-color:#1161ee;
}

.login-form{
	min-height:345px;
	position:relative;
	-webkit-perspective:1000px;
	        perspective:1000px;
	-webkit-transform-style:preserve-3d;
	        transform-style:preserve-3d;
}

.login-form .group{
	margin-bottom:15px;
}

.login-form .group .label,
.login-form .group .input,
.login-form .group .button{
	width:100%;
	color:#fff;
	display:block;
}

.login-form .group .input,
.login-form .group .button{
	border:none;
	padding:15px 20px;
	border-radius:25px;
  background:rgba(255,255,255,.1);
}

input#email.input, input#emailEnter.input, input#password.input, input#confirmPassword.input, input#name.input{
  background-color: #fff;
  color: #000;
  opacity: 0.5;
}

.login-form .group input[data-type="password"]{
	-webkit-text-security:circle;
}
.login-form .group .label, #forgotpass{
	color:#aaa;
	font-size:12px;
}

.login-form .group .button{
	background:#1161ee;
}

.login-form .group label .icon{
	width:15px;
	height:15px;
	border-radius:2px;
	position:relative;
	display:inline-block;
	background:rgba(255,255,255,.1);
}

.login-form .group label .icon:before,
.login-form .group label .icon:after{
	content:'';
	width:10px;
	height:2px;
	background:#fff;
	position:absolute;
	-webkit-transition:all .2s ease-in-out 0s;
	-o-transition:all .2s ease-in-out 0s;
	transition:all .2s ease-in-out 0s;
}

.login-form .group label .icon:before{
	left:3px;
	width:5px;
	bottom:6px;
	-webkit-transform:scale(0) rotate(0);
	        -ms-transform:scale(0) rotate(0);
	    transform:scale(0) rotate(0);
}

.login-form .group label .icon:after{
	top:6px;
	right:0;
	-webkit-transform:scale(0) rotate(0);
	        -ms-transform:scale(0) rotate(0);
	    transform:scale(0) rotate(0);
}

.login-form .group .check:checked + label{
	color:#fff;
}

.login-form .group .check:checked + label .icon{
	background:#1161ee;
}

.login-form .group .check:checked + label .icon:before{
	-webkit-transform:scale(1) rotate(45deg);
	        -ms-transform:scale(1) rotate(45deg);
	    transform:scale(1) rotate(45deg);
}

.login-form .group .check:checked + label .icon:after{
	-webkit-transform:scale(1) rotate(-45deg);
	        -ms-transform:scale(1) rotate(-45deg);
	    transform:scale(1) rotate(-45deg);
}

.login-html .sign-in:checked + .tab + .for-pwd + .tab + .login-form .sign-in-htm{
	-webkit-transform:rotate(0);
	        -ms-transform:rotate(0);
	    transform:rotate(0);
}

.login-html .for-pwd:checked + .tab + .login-form .for-pwd-htm{
	-webkit-transform:rotate(0);
	        -ms-transform:rotate(0);
	    transform:rotate(0);
}

#login-logo{
  position: absolute;
  z-index: 2;
  -webkit-transform: rotate(2deg);
      -ms-transform: rotate(2deg);
          transform: rotate(2deg);
  top: -70px;
  left: 300;
  margin: -12px -70px;;
}

/* Other */
.hr{
	height:2px;
	margin:60px 0 50px 0;
	background:rgba(255,255,255,.2);
}
.foot-lnk{
	text-align:center;
}
